#app-container {
  width: 100%;
  height: 100%;
  padding: 1 2 2 2;
  overflow-y: hidden;
}

#app-container > Label {
  width: 100%;
  height: auto;
  margin: 0 0 1 0;
  /* margin: 0 2 1 2; */
}

.hidden {
  display: none;
}

NikeActivityItem {
  layout: horizontal;
  align: left middle;
  height: 3;
}

NikeActivityItem > Label {
  width: auto;
  height: 100%;
  content-align-vertical: middle;
  padding: 0 2;
}

NikeActivityItem > Checkbox {
  height: 100%;
  content-align-vertical: middle;
  padding: 0 2;
}

NikeActivitiesList {
  height: 20;
  margin: 1 2 1 2;
}

NikeActivitiesListPageButtons > Button {
  margin-right: 2;
}

BearerTokenWidget {
  width: 100%;
  height: auto;
}

BearerTokenWidget > Input {
  width: 100%;
  margin-bottom: 1;
}

BearerTokenWidget > Horizontal {
  width: auto;
  height: 3;
}

#bearer-token-widget-continue-button {
  margin-right: 2;
}
